body {text-align: center; 
	background: white;}

.my-navbar {
	display: flex; ;
	justify-content: space-between;
	align-items: center;
	background: #C4DDFF;
}


.links {
	display: flex;
	justify-content: flex-end;
	font-family: century gothic;
}


.link {
	margin: 10px 30px;
	color: black;
	font-family: century gothic;
}


.logo {
	object-fit: cover;
	height: 100px;
}

.frame {background: white; 
	padding: 50px; 
	margin: 50px; 
	width: 500px;
	height: 250px;
	border: solid 5px #C4DDFF; 
	border-radius: 10px;
	box-shadow: 10px 10px 10px grey}

.frame1 {background: white;
	padding: 20px; 
	margin: 20px; 
	width: 500px;
	height: 500px;
	border: solid 5px #C4DDFF; 
}

h1{color: #00337C; 
	font-size: 50px;
	font-family: broadway;
    justify-content: center;}

h2 {font-size: 28px;
font-family: calibri;
text-align: center;
color: #00337C;} 


h3, h4, h5, h6 {font-size: 23px;
font-family: century gothic;
text-align: left;}


p, ul { font-family: century gothic;
text-align: left;}

.aya {height: 600px;
margin-right: 50px;
}

.rouge {height: 600px;
margin-right: 50px;
}

